<h2><%= title %></h2>
<div class="submenu">
    <a href="/call/show/<%= call._id || req.params.id %>" class="submenu-item">来电详情</a>
    <% if (permission.order.modify) { %>
    <a href="/call/edit/<%= call._id || req.params.id %>" class="submenu-item">修改来电</a>
    <% } %>
</div>