<script src="/scripts/ckeditor/ckeditor.js"></script>
<h2><%= title %></h2>
<form method="post" class="block">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <h3>来电信息录入</h3>
    <table class="detail-table">
        <tr>
            <td class="row-title">订单号</td>
            <td><input type="text" class="textbox w-3" name="order" /></td>
        </tr>
        <tr>
            <td class="row-title">是否需要回访</td>
            <td>
               <select name="needFeedback" id="slCallNeedFeedback">
                   <option value="0">否</option>
                   <option value="1">是</option>
               </select>
            </td>
        </tr>
        <tr style="display: none;" id="trCallIsFeedbacked">
            <td class="row-title">是否已经回访</td>
            <td>
                <select name="isFeedbacked" id="slCallIsFeedbacked">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </td>
        </tr>
        <tr style="display: none;" id="trCallFeedbackResult">
            <td class="row-title">回访结果</td>
            <td><input type="text" class="textbox w-3" name="feedbackResult" value="回访结果：" /></td>
        </tr>
        <tr>
            <td class="row-title">备注</td>
            <td><textarea name="hint" class="textbox" style="height: 60px;"></textarea></td>
        </tr>
        <tr>
            <td class="row-title">内容</td>
            <td><textarea name="content" class="textbox" style="height: 60px;"></textarea></td>
        </tr>
        <tr>
            <td class="row-title">处理结果</td>
            <td><textarea name="result" class="textbox" style="height: 60px;"></textarea></td>
        </tr>
        <tr>
            <td class="row-title">热线类型编码</td>
            <td><input type="text" class="textbox w-3" name="type" />例如：1</td>
        </tr>
    </table>
    <p><input type="submit" value="增加来电信息" class="button blue" /></p>
</form>