<h2>
    <%=title%>
    <% if (permission.call.modify) { %>
    <a class="add" href="/call/create">添加来电信息</a>
    <% } %>
</h2>
<form class="search">
    检索：<input type="text" id="txtCallSearchUser" name="user" placeholder="业务员" />
    是否需要回访：<input type="checkbox" name="needFeedback"  id="chCallSearchNeedFeedback" />
    <input type="submit" value="过滤" class="button green" style="margin: 0" value="过滤" />
</form>




