<div class="block">
    <h4>输入要变更的订单号</h4>
  <form method="post">
      <input type="hidden" name="_csrf" value="<%= csrf %>" />
      <input type="text" name="number" class="textbox" />
      <input type="submit"  class="button blue"  value="提交" />
  </form>
</div>