<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= title %> - 飞鹤牛奶管理系统</title>
    <link href="/styles/firmus.css" rel="stylesheet" />
    <script src="/scripts/jquery-1.10.2.min.js"></script>
    <script src="/scripts/firmus.js"></script>
</head>
<body>
<div class="nav">
    <div class="container">
        <img src="/images/logo.png" class="nav-logo" />
        <a href="#">基本信息</a>
        <a href="#">订单管理</a>
        <a href="#">热线管理</a>
        <a href="#">赠品管理</a>
        <a href="#">奶箱管理</a>
    </div>
</div>
<div class="functions">
    <ul>
        <% if (general) { %>
        <% if (permission.news.query) { %>
        <li><a href="/general/news">新闻公告</a></li>
        <% } if (permission.department.query) { %>
        <li><a href="/general/department">部门管理</a></li>
        <% } if (permission.employee.query) { %>
        <li><a href="/general/employee">职工管理</a></li>
        <% } if (permission.address.query) { %>
        <li><a href="/general/address">地址信息管理</a></li>
        <% } if (permission.car) { %>
        <li><a href="/general/car">配送车辆管理</a></li>
        <% } if (permission.permission.query) { %>
        <li><a href="/general/car">权限管理</a></li>
        <% } } %>
    </ul>
</div>
<div class="main">
    <%- body %>
    <div class="footer">
        Copyright © 2015 Snowlight Software. All rights reserved.
    </div>
</div>
</body>
</html>