<h2>配送管理</h2>
<div class="submenu">
    <a class="submenu-item" href="/distribute">日报概览</a>
    <a class="submenu-item" href="/distribute/car">车辆配送日报</a>
    <a class="submenu-item" href="/distribute/station">站点配送日报</a>
</div>