<h2>配送管理</h2>
<div class="submenu">
    <a class="submenu-item" href="/order/distribute">日报概览</a>
    <a class="submenu-item" href="/order/distribute/car">车辆配送日报</a>
    <a class="submenu-item" href="/order/distribute/station">站点配送日报</a>
    <a class="submenu-item" href="/order/distribute/detail">配送详单</a>
</div>