<h2><%= title %></h2>
<form method="post" class="block">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <h3>财务信息</h3>
    <table class="detail-table">
        <tr>
            <td class="row-title">业务员</td>
            <td><input type="text" class="textbox w-3" name="user" id="txtAddFinanceUser" /></td>
        </tr>
        <tr>
            <td class="row-title">金额</td>
            <td><input type="text" class="textbox w-3" name="price" /> 例如: 38.5</td>
        </tr>
        <tr>
            <td class="row-title">付款方式</td>
            <td>
                <select name="payMethod" id="lstPaymentMethod">
                    <option value="0">现金</option>
                    <option value="1">POS</option>
                </select>
            </td>
        </tr>
        <tr id="pos-number-row" style="display: none;">
            <td class="row-title">POS单号</td>
            <td><input type="text" class="textbox w-3" id="pos" name="pos" value="pos" /></td>
        </tr>
    </table>
    <p><input type="submit" value="创建财务" class="button blue" /></p>
</form>