<% include orderMenu %>
<form class="block" method="post">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <input type="hidden" id="orderId" value="<%=orderId%>" />
    <table class="detail-table">
        <tr>
            <td class="row-title">变更类型</td>
            <td>
                <select name="type" id="slOrderChangeType">
                    <option>停送</option>
                    <option>加送</option>
                    <option>顺延</option>
                    <option>品相变更</option>
                    <option>赠饮</option>
                </select>
            </td>
        </tr>
        <tr style="display: none;" id="trOrders">
            <td class="row-title">
                选择要的变更品相：
            </td>
            <td>
                <select name="lsChangeOreders" id="lsChangeOreders">
                </select>
            </td>
        </tr>

        <tr style="display: none;" id="trGiftOrders">
            <td class="row-title">选择品相</td>
            <td>
                <select name="lsGiftOreders" id="lsGiftOreders">
                </select>
            </td>
        </tr>

        <tr id="trOldOrder" style="display: none;">
            <td class="row-title">原有订单</td>
            <td id="tdOldOrder">
            </td>
        </tr>
        <tr id="trNewOrder" style="display: none;">
            <td class="row-title">新订单</td>
            <td id="tdNewOrder">
                <table>
                    <thead>
                        <tr>
                            <td>品相</td><td>总瓶数</td><td>起送时间</td><td>配送方式</td><td>每次配送瓶数</td>
                        </tr>
                    </thead>
                    <tbody class="lstOrder"><tr><td><input type="text" class="textbox w-0-6" name="omilkType" id="txtOmilkType" /></td>
                        <td><input type="text" class="textbox w-0-6"  name="ocount" id="txtOcount" /></td><td><input type="text" class="textbox datetime w-0-6" name="obegin" id="txtObegin" /></td>
                        <td><select name="distributeMethod"><option>天天送</option><option>隔日送</option><option>周末停送</option></select>
                        </td><td><input type="text" class="textbox w-0-6"  name="distributeCount" id="txtDistributeCount" /></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr id="trGiftCount" style="display: none;">
            <td class="row-title">瓶数</td>
            <td><input type="text" id="giftCount" name="giftCount" class="textbox"/></td>
        </tr>
        <tr id="trBalance" style="display: none;">
            <td class="row-title">差价</td>
            <td>
                <input type="text" class="textbox" name="balance" id="txtBalance" value="balance"/>
            </td>
        </tr>
        <tr id="trOrderChangeBegin">
            <td class="row-title">变更起始时间</td>
            <td><input type="text" name="begin" class="textbox w-3 datetime" value="<%=moment(Date.now()).format('YYYY-mm-DD HH:mm:ss')%>"/></td>
        </tr>
        <tr id="trOrderChangeEnd">
            <td class="row-title">变更结束时间</td>
            <td><input type="text" name="end" class="textbox w-3 datetime" value="<%=moment(Date.now()).format('YYYY-mm-DD HH:mm:ss')%>" /></td>
        </tr>
        <tr id="trOrderChangeMilkType">
            <td class="row-title" >品相</td>
            <td><input type="text" id="txtOrderChangeMilkType" name="milkType" class="textbox w-3" /></td>
        </tr>
        <tr id="trOrderChangeCount">
            <td class="row-title" >变动数量（每次）</td>
            <td><input type="text" id="txtOrderChangeCount" name="count" class="textbox w-3" /></td>
        </tr>
        <tr id="trOrderChangeHint">
            <td class="row-title">备注</td>
            <td>
                <textarea name="hint" class="ckeditor"></textarea>
                <script src="/scripts/ckeditor/ckeditor.js"></script>
            </td>
        </tr>
    </table>
    <p><input type="submit" value="提交变更" class="button blue" /></p>
</form>