<h2><%= title %></h2>
<form method="post" class="block">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <h3>订单信息</h3>
    <table class="detail-table">
        <tr>
            <td class="row-title">订单号</td>
            <td><input type="text" class="textbox w-3" name="number" /></td>
        </tr>
        <tr>
            <td class="row-title">订单类型</td>
            <td><input type="text" class="textbox w-3" name="orderType" /> 订单类型编码</td>
        </tr>
        <tr>
            <td class="row-title">地址</td>
            <td>
                <a href="javascript:createOrderSelectAddress();">点击设置地址</a>
            </td>
        </tr>
        <tr>
            <td class="row-title">奶品品相</td>
            <td><input type="text" class="textbox w-3" name="milkType" /> 品相编码</td>
        </tr>
        <tr>
            <td class="row-title">总瓶数</td>
            <td><input type="text" class="textbox w-3" name="count" /> 例如: 30</td>
        </tr>
        <tr>
            <td class="row-title">金额</td>
            <td><input type="text" class="textbox w-3" name="price" /> 例如: 38.5</td>
        </tr>
        <tr>
            <td class="row-title">付款方式</td>
            <td>
                <select name="peyMethod" id="lstPaymentMethod">
                    <option value="0">现金</option>
                    <option value="1">POS</option>
                </select>
            </td>
        </tr>
        <tr id="pos-number-row">
            <td class="row-title">POS单号</td>
            <td><input type="text" class="textbox w-3" name="pos" /></td>
        </tr>
        <tr>
            <td class="row-title">开始配送日期</td>
            <td><input type="text" class="textbox w-3 datetime" name="begin" /></td>
        </tr>
        <tr>
            <td class="row-title">配送方式</td>
            <td>
                <select name="distributeMethod">
                    <option>天天送</option>
                    <option>隔日送</option>
                    <option>周末停送</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="row-title">每次配送瓶数</td>
            <td><input type="text" class="textbox w-3" name="distributeCount" /></td>
        </tr>
    </table>
    <p><input type="submit" value="创建订单" class="button blue" /></p>
</form>