<h2>部门管理</h2>
<div class="search">
    检索：
    <input type="text" class="textbox" placeholder="部门名称" />&nbsp;
    <select>
        <option>部门类型</option>
        <option>普通部门</option>
        <option>奶站</option>
    </select>&nbsp;
    <input type="button" class="button green" style="margin: 0" value="过滤" />
</div>
<p>&nbsp;</p>
<p>
<table class="table">
    <thead>
    <tr>
        <th class="tl">部门名称</th>
        <th class="tl">部门经理</th>
        <th>部门人数</th>
        <th>部门类型</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tl">测试</td>
        <td class="tl">张三</td>
        <td class="tc">1</td>
        <td class="tc">普通部门</td>
        <td class="tc">
            <a href="#">修改</a>
            <a href="#">删除</a>
        </td>
    </tr>
    <tr>
        <td class="tl">测试2</td>
        <td class="tl">李四</td>
        <td class="tc">1</td>
        <td class="tc">普通部门</td>
        <td class="tc">
            <a href="#">修改</a>
            <a href="#">删除</a>
        </td>
    </tr>
    <tr>
        <td class="tl">测试3</td>
        <td class="tl">啊啊</td>
        <td class="tc">1</td>
        <td class="tc">普通部门</td>
        <td class="tc">
            <a href="#">修改</a>
            <a href="#">删除</a>
        </td>
    </tr>
    <tr>
        <td class="tl">测试4</td>
        <td class="tl">啊额啊</td>
        <td class="tc">1</td>
        <td class="tc">普通部门</td>
        <td class="tc">
            <a href="#">修改</a>
            <a href="#">删除</a>
        </td>
    </tr>
    </tbody>
</table>
</p>