<h2><%= title %></h2>

<table class="detail-table">
    <tr>
        <td>
            <a href="/gift/gift">赠品类别查询</a>
        </td>
        <td>
            <a href="/gift/action">赠品库存查询</a>
        </td>
        <td>
            <a href="/gift/store">赠品仓库查询</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/gift/check">赠品盘点查询</a>
        </td>
        <td>
            <a href="/gift/day">赠品日处理查询</a>
        </td>
        <td>
            <a href="/gift/action">赠品回访查询</a>
        </td>
    </tr>
</table>