<div class="wrap-cont">
    <img src="/images/banner.png" style="width:100%;margin-bottom:0.8em;">
    <table style="text-align: center;">
        <tbody>
        <tr>
            <td>
                <a href="/mobile/milk">
                    <div class="function-item-outer">
                        <div class="function-item"><i class="fa function-icon fa-tasks"></i></div><div class="function-txt">奶品奶价</div>
                    </div>
                </a>
            </td>
            <td>
                <a href="/mobile/order">
                    <div class="function-item-outer">
                        <div class="function-item red"><i class="fa function-icon fa-pencil"></i></div><div class="function-txt">订单录入</div>
                    </div>
                </a>
            </td>
            <td>
                <a href="/mobile/milkbox">
                    <div class="function-item-outer">
                        <div class="function-item green"><i class="fa function-icon fa-map-marker"></i></div><div class="function-txt">装箱录入</div>
                    </div>
                </a>
            </td>
            <td>
                <a href="/mobile/promotion">
                    <div class="function-item-outer">
                        <div class="function-item purple"><i class="fa function-icon fa-calendar"></i></div><div class="function-txt">促销活动</div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/mobile/my">
                    <div class="function-item-outer">
                        <div class="function-item yellow"><i class="fa function-icon fa-user"></i></div><div class="function-txt">我的订单</div>
                    </div>
                </a>
            </td>
            <td>
                <a href="/mobile/gift">
                    <div class="function-item-outer">
                        <div class="function-item orange"><i class="fa function-icon fa-gift"></i></div><div class="function-txt">赠品登记</div>
                    </div>
                </a>
            </td>
            <td>
                <a href="/mobile/logout">
                    <div class="function-item-outer">
                        <div class="function-item cyan"><i class="fa function-icon fa-sign-out"></i></div><div class="function-txt">退出系统</div>
                    </div>
                </a>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>